*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   font-family:Georgia, 'Times New Roman', Times, serif;
}
nav{
    width: 100%;
    background-color: #ccbaa4 ;
    position:fixed !important;
    top: 0;
    z-index: 10000;
}
nav img{   
   height: 90px;         
    width: auto;
    margin-top: -20px;     
    margin-bottom: -30px;  
    z-index: 10;           
    position: relative;
}
nav a{
    color: #3c2011 !important;
    font-size: 17px  !important;
}
nav a:hover{
    transform: scale(1.04);
}


.side-wrapper{
    position:fixed;
    top: 65px;
    left: 0;
    z-index: 100;
    min-height: 100vh;
    border-right: 1px solid #e0dcd9;
    background-color: #f1e7dd;
    color: #5d4037 ;
}
.side-item {
    display: block;
    color: #5d4037 ;
    transition: 0.3s;
    border-bottom: 1px solid rgba(90, 77, 52, 0.225);
    margin-bottom: 10px;
}

.side-item:hover{
    color: #452e27 ;
    text-decoration: none ;
    transform: scale(1.03);
}
main{
    margin-top: 130px;
    margin-bottom: 50px;
    margin-left: 16.5%;
    padding-right:5px ;
    min-height: calc(100vh - 90px - 180px);
}

 @media (max-width: 768px) {
    .side-wrapper {
        display: flex ;
        flex-direction: row ;
        flex-wrap: wrap;             
        max-width: 100% !important;
        height: auto !important; 
        min-height: auto !important;
        max-height: fit-content;
    }

    .side-item {
        display: inline-block !important;
        border-bottom: none;
        margin-right: 15px;         
        margin-bottom: 5px;          
        padding: 2px 5px;        
    }

    main{
        width: 80%;
        margin-top: 270px;
         margin-left: 0;
   }
   .operation{
    flex-direction: column;
   }
   .operation a{
        display: block !important;
    }
    .dashCard{
        margin-bottom: 20px;
    }


 }

.div-title{
    border-bottom: 2px solid #f1e7dd; 
    padding-bottom: 5px;
}
.table-title{
    color: #5d4037; 
    font-weight: bold;

}
.btn-add{
    background-color:#b19a80;
    color: #3c2011 ;
}
.badge{
     background-color:#b19a80;
    color: #3c2011 ;
}
.table ,.card{
    color: #5d4037;
    border-color: #d2b48c;
}

.table-hover tbody tr:hover {
    background-color: #f8f4f0 ; 
    transition: 0.3s; 
}
.table th, .table td{
    border: 1px solid #e0d0c0; 
    text-align: center;
}
.table th{
    background-color: #f1e7dd ;
}
.operation {
    gap:5px;
    margin: auto;
}

.card-header{
    color: #5d4037;
    background-color: #f1e7dd ;
}
.card-footer{
    gap:7px;
    justify-content:flex-end;
}
.form-label{
    flex-wrap: nowrap; 
    min-width: 110px;
}
.form-control:focus{
    border : 2px solid #a1887f94; 
    box-shadow: 0 0 0 0.2rem rgba(161, 136, 127, 0.25);
}

footer{
    width: 100%;
    height: 90px;
    padding: 15px 0;
    position: relative; 
    background-color: #b19a80; 
    color: #5d4037;
    text-align: center;
   background: linear-gradient(to right, transparent, #b19a80);
}
footer a{
    color: #5d4037;
    text-decoration: underline;
    display: block;
    transition: 0.5s;
    justify-content: space-around;
}
footer a:hover{
    transform:translateY(-5px);
}

.dashCard{
    height: 180px; 
    background-color: #d3c6b8;
    border-radius: 10px;
    text-align: center;
    position: relative;
}
.info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    color: #5d4037;
}
.info i{
    font-size: 20px;
}
.info p{
    font-weight: bold;
}